@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;500;700&family=Josefin+Sans:wght@300;400;500;600;700&family=Outfit:wght@200;400;600;800&family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --light: #fff;
  --dark: #171823;
  --card-bg: #fff;
  --border-item: #e3e4f1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body.dark {
  --light: #000;
  --dark: #fff;
  --border-item: #393a4b;
  --card-bg: #25273d;
}

.bg {
  position: absolute;
  top: 0;
  width: 100%;
}

.completedTodo {
  text-decoration: line-through;
  color: #d1d2da;
}

body {
  font-family: "Josefin Sans", "Outfit", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
  color: var(--dark);
}

form {
  z-index: 999;
  position: relative;
  width: 540px;
  height: 64px;
  background: #fff;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  border-radius: 5px;
  margin-bottom: 24px;
  padding: 20px 24px;
}

.card {
  overflow-y: auto;
  z-index: 999;
  position: relative;
  background: var(--card-bg);
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 540px;
  height: 350px;
}

.card-bottom {
  display: flex;
  position: relative;
  z-index: 9999;
  width: 540px;
  background: var(--card-bg);
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 16px 24px;
  justify-content: space-between;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.194444px;
  color: #9495a5;
}

.new-todo {
  background: var(--card-bg);
  box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.card-bottom span {
  cursor: pointer;
}

.filter span,
.filter {
  margin-left: 19px;
}

.card img {
  display: flex;
}

.delete {
  cursor: pointer;
  visibility: hidden;
}

li:hover .delete {
  visibility: visible;
}

li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 24px;
}

li:not(:last-child) {
  border-bottom: 1px solid var(--border-item);
}

input {
  outline: none;
}

input[type="text"] {
  height: 100%;
  border: none;
  color: #9495a5;
  font-size: 18px;
  background: var(--card-bg);
}

input[type="checkbox"] {
  cursor: pointer;
}

.error {
  border: 1px solid red;
}

.todo {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.25px;
}

input[type="checkbox"] {
  background-color: red !important;
  color: white;
}

.top {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  top: 50px;
  width: 540px;
  justify-content: space-between;
  left: 50%;
  transform: translate(-50%, 50%);
}

.top h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 15px;
  color: #ffffff;
}

.top img {
  cursor: pointer;
}

.blackBg {
  background: #171823;
}

.cardBg {
  background: #25273d;
  box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.listItemDark {
  border-bottom: 1px solid #393a4b !important;
  color: #c8cbe7;
}

.show {
  display: block;
}

.hide {
  display: none;
}

@media (max-width: 631px) {
  .card-bottom > span {
    display: none;
  }

  .card-bottom,
  .top,
  .card,
  .new-todo {
    width: 327px;
  }

  .filter {
    margin-left: 20px;
  }
}
